<!DOCTYPE html>
<html lang="en">

<%- include('../includes/header.ejs')   %>
<link rel="stylesheet" href="/css/login.css">

<body>
    <div class="wrapper">
        <div class="container">
            <h1>Welcome</h1>

            <form class="form-login">
                <input type="text" id="email" placeholder="Email">
                <input type="password" id="password" placeholder="Password">
                <button type="submit" id="login-button">Login</button>
            </form>
        </div>

        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <%- include('../includes/script.ejs') %>
    <%- include('../includes/end.ejs') %>