/* Alert */
.alert {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1.6rem 15rem;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  }
  .alert--success {
    background-color: #20bf6b;
  }
  .alert--error {
    background-color: #eb4d4b;
  }
  
  .form__user-photo {
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 50%;
    margin-right: 2rem;
  }
  
  .form__admin-photo {
    height:50%;
    width: 50%;
    border-radius: 50%;
  }
  
  .flex-container {
    display: flex;
    justify-content: center;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #d9dddf;
    width: 180px;
    margin: 10px;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
  }
  